parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc tag @throws with type FAPI\\\\Localise\\\\Exception is not subtype of Throwable$#"
			count: 2
			path: src/Api/Asset.php

		-
			message: "#^PHPDoc tag @throws with type FAPI\\\\Localise\\\\Exception\\\\DomainException is not subtype of Throwable$#"
			count: 1
			path: src/Api/Asset.php

		-
			message: "#^PHPDoc tag @throws with type FAPI\\\\Localise\\\\Exception is not subtype of Throwable$#"
			count: 1
			path: src/Api/Export.php

		-
			message: "#^PHPDoc tag @throws with type FAPI\\\\Localise\\\\Exception\\\\DomainException is not subtype of Throwable$#"
			count: 1
			path: src/Api/HttpApi.php

		-
			message: "#^PHPDoc tag @throws with type FAPI\\\\Localise\\\\Exception is not subtype of Throwable$#"
			count: 1
			path: src/Api/Import.php

		-
			message: "#^PHPDoc tag @throws with type FAPI\\\\Localise\\\\Exception is not subtype of Throwable$#"
			count: 3
			path: src/Api/Translation.php

		-
			message: "#^PHPDoc tag @return with type string is incompatible with native type bool\\.$#"
			count: 2
			path: src/Model/Translation/Translation.php

		-
			message: "#^PHPDoc tag @return with type string is incompatible with native type int\\.$#"
			count: 1
			path: src/Model/Translation/Translation.php

		-
			message: "#^Property FAPI\\\\Localise\\\\RequestBuilder\\:\\:\\$multipartStreamBuilder has unknown class Http\\\\Message\\\\MultipartStream\\\\MultipartStreamBuilder as its type\\.$#"
			count: 1
			path: src/RequestBuilder.php

		-
			message: "#^Parameter \\$multipartStreamBuilder of method FAPI\\\\Localise\\\\RequestBuilder\\:\\:__construct\\(\\) has invalid typehint type Http\\\\Message\\\\MultipartStream\\\\MultipartStreamBuilder\\.$#"
			count: 2
			path: src/RequestBuilder.php

		-
			message: "#^Instantiated class Http\\\\Message\\\\MultipartStream\\\\MultipartStreamBuilder not found\\.$#"
			count: 1
			path: src/RequestBuilder.php

		-
			message: "#^Call to method addResource\\(\\) on an unknown class Http\\\\Message\\\\MultipartStream\\\\MultipartStreamBuilder\\.$#"
			count: 1
			path: src/RequestBuilder.php

		-
			message: "#^Call to method build\\(\\) on an unknown class Http\\\\Message\\\\MultipartStream\\\\MultipartStreamBuilder\\.$#"
			count: 1
			path: src/RequestBuilder.php

		-
			message: "#^Call to method getBoundary\\(\\) on an unknown class Http\\\\Message\\\\MultipartStream\\\\MultipartStreamBuilder\\.$#"
			count: 1
			path: src/RequestBuilder.php

		-
			message: "#^Call to method reset\\(\\) on an unknown class Http\\\\Message\\\\MultipartStream\\\\MultipartStreamBuilder\\.$#"
			count: 1
			path: src/RequestBuilder.php

