parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc tag @throws with type FAPI\\\\Localise\\\\Exception is not subtype of Throwable$#"
			count: 2
			path: src/Api/Asset.php

		-
			message: "#^PHPDoc tag @throws with type FAPI\\\\Localise\\\\Exception\\\\DomainException is not subtype of Throwable$#"
			count: 1
			path: src/Api/Asset.php

		-
			message: "#^PHPDoc tag @throws with type FAPI\\\\Localise\\\\Exception is not subtype of Throwable$#"
			count: 1
			path: src/Api/Export.php

		-
			message: "#^PHPDoc tag @throws with type FAPI\\\\Localise\\\\Exception\\\\DomainException is not subtype of Throwable$#"
			count: 1
			path: src/Api/HttpApi.php

		-
			message: "#^PHPDoc tag @throws with type FAPI\\\\Localise\\\\Exception is not subtype of Throwable$#"
			count: 1
			path: src/Api/Import.php

		-
			message: "#^PHPDoc tag @throws with type FAPI\\\\Localise\\\\Exception is not subtype of Throwable$#"
			count: 3
			path: src/Api/Translation.php

		-
			message: "#^PHPDoc tag @return with type string is incompatible with native type bool\\.$#"
			count: 2
			path: src/Model/Translation/Translation.php

		-
			message: "#^PHPDoc tag @return with type string is incompatible with native type int\\.$#"
			count: 1
			path: src/Model/Translation/Translation.php

